.friendItem {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    margin-left: -40px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.friendItem:hover {
    background-color: #e0e0e0;
}

.selected{
    background-color: #e0e0e0;
}

.friendImage {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
    object-fit: cover;
}

.friendName {
    font-size: 16px;
    font-weight: 500;
    color: #333;
}
