/* Style the search bar container */
.searchBar {
    /* position: fixed; */
    /* width: 22.5%; */
    margin-bottom: 5px; /* Space below the search box */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    align-items: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

/* Style for the search input */
.searchInput {
    flex: 1;
    border: none;
    padding: 10px;
    outline: none;
    font-size: 16px;
}

/* Style for the search button/icon */
.searchButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0 10px;
}
